{% set ec2 = salt['grains.filter_by'] (
  {
    'Ubuntu': {
      'metadata_endpoint': {
        'public-ipv4' : 'http://169.254.169.254/latest/meta-data/public-ipv4/',
      },
      'public_ip_file': {
        'name' : '/home/ubuntu/my_public_ip.txt'
      },
    }
  }, merge=salt['pillar.get']('ec2')
)
%}
